<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /almhal
    RewriteRule ^/almhal/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /almhal/index.html [L]
</IfModule>